.about {
  margin-bottom: 110px;

  @include below ($tablet-width) {
    margin-bottom: 83px;
  }

  @include below ($mobile-width) {
    margin-bottom: 64px;
  }
}

.about__wrap {
  max-width: 1230px;
  position: relative;
  padding-left: 209px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    width: 220px;
    height: 317px;
    background-image: url("../img/year-img@1x.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include retina () {
      background-image: url("../img/year-img@2x.png");
    }
  }

  h2 {
    @include font-size (2.25em, 1.38em, 400);
    font-family: $secondary-text;
    margin: 0;
    padding-bottom: 23px;
  }

  p {
    margin: 0;
    padding-bottom: 25px;
    line-height: 20.3px;
  }

  a {
    @include font-size (0.87em, 1em, 400);
    color: $accent-color;
    font-family: $secondary-text;
    text-transform: uppercase;
    border: 2px solid $accent-color;
    padding: 1em;
    border-radius: 5px;
    width: 180px;
    align-items: center;
    justify-content: center;
    margin-top: 17px;

    &:hover {
      background-color: $accent-color;
      transition: background-color 0.3 ease-in-out;
      color: $basic-white;
    }
  }

  @include below ($tablet-width) {
    padding-left: 212px;

    h2 {
      @include font-size (2em, 1.38em, 400);
      padding-bottom: 26px;
    }

    &::before {
      width: 251px;
      height: 362px;
      left: -7px;
    }

    p {
      line-height: 20.8px;
    }

    .about__description {
      padding-bottom: 1em;
      overflow: visible auto;
      text-overflow: ellipsis;
      height: clamp(61px, 83px, 88px);
    }

    a {
      margin-top: 45px;
    }
  }

  @include below ($mobile-width) {
    padding-left: 13px;

    &::before {
      display: none;
    }

    h2 {
      @include font-size (1.75em, 1.38em, 400);
      padding-bottom: 22px;
    }

    p {
      padding-left: 4px;
    }
  }
}
