.accordion--nojs {
  @include below ($mobile-width) {
    .accordion__content {
      display: block;
    }
  }
}

.accordion--active {
  @include below ($mobile-width) {
    .accordion__content {
      display: block;
    }
  }
}

.accordion__button {
  @include font-size (0.94em, 1.06em, 400);
  position: relative;
  font-family: $secondary-text;
  color: $basic-black100;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
  border: 0;
  background: none;
  text-align: left;
  cursor: pointer;
  letter-spacing: 0.05em;
  padding-left: 10px;

  @include below ($tablet-width) {
    padding-left: 2px;
  }

  @include below ($mobile-width) {
    &::after {
      content: url("../img/plus.svg");
      position: absolute;
      top: 0;
      right: 0;
      width: 16px;
      height: 16px;
      display: block;
    }
  }
}

.accordion__button--active::after {
  @include below ($mobile-width) {
    top: -5px;
    content: url("../img/minus.svg");
  }
}

.accordion__content {
  @include below ($mobile-width) {
    display: none;
  }
}
