.feedback {
  background-color: $accent-color;
  padding-bottom: 53px;

  @include below ($tablet-width) {
    padding-bottom: 103px;
  }

  @include below ($mobile-width) {
    padding-bottom: 44px;
  }
}

.feedback__wrap {
  max-width: 1300px;
  display: grid;
  grid-template-columns: 5fr 7fr;

  @include below ($tablet-width) {
    grid-template-columns: 5fr;
    padding-right: 86px;
  }

  @include below ($mobile-width) {
    padding-right: 0;
  }
}

.feedback__image {
  position: relative;
  background-image: url("../img/paper-airplane@1x.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 529px;
  height: 618px;

  @include retina () {
    background-image: url("../img/paper-airplane@2x.png");
  }

  &::after {
    content: "";
    position: absolute;
    top: -60px;
    left: -197px;
    width: 670px;
    height: 641px;
    background-image: url("../img/triangles.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 35px 0;
  }


  @include below ($tablet-width) {
    display: none;
  }
}
