.form {
  padding: 88px 0 0 108px;

  h3 {
    @include font-size (2.25em, 1.64, 400);
    font-family: $secondary-text;
    margin: 0;
    color: $basic-white;
    margin-bottom: 10px;

    @include below($tablet-width) {
      margin: 0;
    }
  }

  p {
    color: $basic-white;
    margin: 0;
    padding-bottom: 55px;
  }

  @include below($tablet-width) {
    margin: 0 auto;
    padding: 78px 0 0 66px;

    h3 {
      @include font-size (2em, 1.38em, 400);
      padding-bottom: 20px;
    }
  }

  @include below ($mobile-width) {
    padding: 30px 0 0 0;

    h3 {
      @include font-size (1.75em, 1.38em, 400);
    }

    p {
      padding-bottom: 24px;
    }
  }
}

.form__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 44px;

  &--modal {
    grid-template-columns: 1fr;
  }

  @include below($mobile-width) {
    grid-template-columns: 1fr;
  }
}

.form__item {
  position: relative;

  &--comment {
    grid-column: 1/-1;
  }

  &--agreement {
    position: relative;
    padding-left: 34px;
    margin-top: -36px;
  }

  &--button {
    margin-top: -43px;
  }

  input[type="checkbox"] {
    left: 317px;
    bottom: 27px;
  }

  input[type="checkbox"]+label {
    @include font-size(14px, 16px, 400);
    position: relative;
    width: 40%;
    cursor: pointer;
    user-select: none;

    &::before {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 2px;
      left: -33px;
      border: 1px solid $basic-white;
      content: "";
    }
  }

  input[type="checkbox"]:checked+label::after {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 1px;
    left: -29px;
    content: url("../img/checked.svg");
  }

  input[type="text"],
  input[type="tel"],
  textarea {
    padding: 1em;
    color: $basic-black;
    background-color: $basic-blue-form;
    width: 100%;
    transition: all 0.25s;
    appearance: none;
    margin: 0;
    outline: none;
    border: none;

    &:valid {
      background-color: $basic-white;
    }

    &::placeholder {
      @include font-size (0.94em, 1.6em, 400);
      color: $basic-white;
    }

    &:focus {
      outline-color: $basic-grey200;
    }
  }

  label {
    @include font-size (0.94em, 1.6em, 400);
    color: $basic-white;
  }

  textarea {
    grid-column: 1/-1;
    width: 100%;
    min-height: 154px;
    margin-bottom: 39px;
    padding: 13px 18px;
    color: $basic-black;
    resize: none;
  }

  @include below ($tablet-width) {

    &--button {
      margin-top: -25px;
    }

    &--agreement {
      margin-top: -18px;
    }
  }

  @include below ($mobile-width) {
    textarea {
      min-height: 100px
    }
  }
}

.form__button {
  @include font-size (0.87em, 1em, 400);
  color: $basic-white;
  font-family: $secondary-text;
  text-transform: uppercase;
  border: 2px solid $basic-white;
  padding: 1em;
  border-radius: 5px;
  width: 100%;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $basic-white;
    transition: background-color 0.3 ease-in-out;
    color: $accent-color;
  }
}
