.logo {
  .logo__image {
    width: 202px;
    height: 52px;

    @include below ($mobile-width) {
      width: 38px;
      height: 38px;
    }
  }

  .logo__footer {
    width: 216px;
    height: 52px;
  }
}
