.main-nav {
  width: 70%;

  @include above ($desktop-width-max) {
    width: 49%;
  }
}

.main-nav__list {
  @include list-reset;
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: flex-end;

  @include below ($tablet-width) {
    justify-content: end;
  }
}

.main-nav__item {
  padding-top: 20px;

  a {
    color: $basic-white;
    text-decoration: none;
    padding: 13px 27px;

    @include below ($tablet-width) {
      padding: 0;
    }
  }

  @include below ($tablet-width) {
    padding-top: 0;
  }
}

.main-nav__icon {
  display: inline-block;
  margin-left: 5px;
  margin-right: 14px;
  vertical-align: middle;

  @include below ($tablet-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.main-nav__item--mail {
  @include below ($tablet-width) {
    padding-right: 33px;
  }

  @include below ($mobile-width) {
    padding-right: 23px;
  }
  svg {
    width: 19px;
    height: 14px;

    @include below ($tablet-width) {
      width: 25px;
      height: 18px;
    }
  }
}

.main-nav__item--phone {
  svg {
    width: 18px;
    height: 18px;

    @include below ($tablet-width) {
      width: 24px;
      height: 24px;
    }
  }
}

.main-nav__link {
  svg {
    color: $accent-color;
  }

  &:hover svg {
    color: $basic-white;
  }

  &:focus svg {
    color: $basic-grey100;
  }

  @include below ($tablet-width) {
    font-size: 0;
    text-align: center;
  }
}

.main-nav__button {
  @include font-size (14px, 12px, 700);
  text-transform: uppercase;
  border: 1px solid $basic-white;
  border-radius: 5px;
  color: $basic-white;
  outline: none;
  padding: 15px 18px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $accent-color;
    border-color: $accent-color;
  }

  &:focus {
    opacity: 0.5;
  }

  @include below ($tablet-width) {
    display: none;
  }
}
