.page-header {
  min-height: 60px;
  color: $basic-white;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 878px;
    top: 0;
    right: 0;
    background-color: $basic-black-bg;
    background-image: url("../img/bg-desktop@1x.jpg");
    background-size: cover, 100%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;

    @include retina () {
      background-image: url("../img/bg-desktop@2x.jpg");
    }
  }

  @include below ($tablet-width) {
    &::before {
      min-height: 687px;
    }
  }

  @include below ($mobile-width) {
    &::before {
      min-height: 649px;
    }
  }
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.page-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 23px;

  @include below ($tablet-width) {
    padding-top: 8px;
  }
}
