.page-footer {
  position: relative;

  &::after {
    position: absolute;
    bottom: 37px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $basic-grey100;
    opacity: 0.2;
  }

  @include below ($tablet-width) {
    &::before {
      content: "";
      position: absolute;
      top: 97px;
      width: 100%;
      height: 1px;
      background-color: $basic-grey100;
      opacity: 0.2;
    }

    &::after {
      bottom: 40px;
    }
  }

  @include below ($mobile-width) {
    &::before {
      top: 200px;
    }

    &::after {
      bottom: 110px;
    }
  }
}

.page-footer__top {
  display: grid;
  grid-template-columns: minmax(280px, 420px) minmax(500px, 1fr) minmax(400px, 1fr);
  gap: 135px;
  width: 100%;
  margin-bottom: 58px;
  padding-top: 64px;
  overflow: hidden;

  @include below ($tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    gap: 0;

    p {
      padding-top: 1em;
    }
  }

  @include below ($mobile-width) {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
}

.page-footer__logo {
  grid-column: 1/2;
  height: 52px;
  grid-row: 1/2;

  @include below ($mobile-width) {
    margin-bottom: 80px;
  }
}

.page-footer__links {
  position: relative;

  @include below ($tablet-width) {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  @include below ($mobile-width) {
    flex-direction: column;
  }
}

.page-footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;


  &--agreement {
    padding-right: 269px;
  }

  p {
    @include font-size (0.81em, 1.8em, 400);
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.04em;
  }

  a {
    color: $primary-text-color;
    text-decoration: none;

    &:hover {
      color: $accent-color;
    }

    &:focus {
      opacity: 0.5;
    }
  }

  @include below ($mobile-width) {
    flex-direction: column;

    p {
      margin-bottom: 20px;
    }
  }
}

.page-footer__bottom-copyright {
  span {
    padding-right: 67px;
  }

  @include below ($tablet-width) {
    position: absolute;
    top: 37px;
    left: 58%;
    transform: translateX(-50%);

    span {
      display: none;
    }
  }

  @include below ($mobile-width) {
    top: 80px;
  }
}
