.promo {
  min-height: 793px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: auto;


  @include below ($tablet-width) {
    overflow: hidden;
    min-height: 472px;
    grid-template-columns: 3fr 1fr;
  }

  @include below ($mobile-width) {
    min-height: 614px;
    grid-template-columns: 5fr;
  }
}

.promo__wrap {
  position: relative;
  margin-top: 217px;

  h2 {
    @include font-size (5em, 1.2em, 700);
    font-family: $secondary-text;
    color: $basic-white;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 0.3em;
    letter-spacing: 0.07em;
    max-height: 3.5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    @include font-size (1.37em, 1.54em, 400);
    color: $basic-white;
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 1.95em;
    padding-left: 4.5em;
    width: 90%;
    max-height: 3.5em;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: "";
      position: absolute;
      top: 18px;
      left: 0;
      height: 2px;
      width: 66px;
      background-color: $basic-white;
    }
  }

  @include below ($tablet-width) {
    margin-top: 104px;
    padding-left: 63px;

    h2 {
      @include font-size (3.75em, 1.16em, 700);
      margin-bottom: 0.5em;
    }

    p {
      @include font-size (1.12em, 1.5em, 400);
      padding: 0 3em;
      width: 100%;
      margin-bottom: 2.95em;
    }

    p::before {
      width: 33px;
      top: 17px;
      left: 3px;
    }
  }

  @include below ($mobile-width) {
    order: 2;
    padding-left: 0;
    margin-top: 107px;

    h2 {
      @include font-size (2.5em, 1.16em, 700);
    }

    p {
      @include font-size (1em, 25px, 700);
      padding: 0;
      padding-left: 50px;
      padding-top: 6px;
      max-height: 5.5em;
    }

    p::before {
      top: 20px;
    }
  }
}

.promo__button {
  margin-left: 6em;
  max-width: 400px;
  font-family: $secondary-text;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &:hover {
    background-color: darken($accent-color, 6.25%);
    transition: background-color 0.3s ease-in-out;
  }

  &:focus {
    background-color: darken($accent-color, 10%);
  }

  @include below ($tablet-width) {
    margin-left: 3em;
    max-width: 382px;
  }

  @include below ($mobile-width) {
    position: relative;
    font-size: 0;
    max-width: none;
    width: 100%;
    height: 60px;

    &::before {
      display: inline-block;
      content: "Бесплатная консультация";
      font-style: normal;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      vertical-align: baseline;
    }
  }
}

.promo__image {
  position: relative;
  margin-top: 400px;

  img {
    position: absolute;
    left: -8%;
    top: 2%;
    right: auto;
    bottom: auto;
    width: auto;
    margin-top: -241px;
    object-fit: cover;
  }

  &::before {
    content: "";
    position: absolute;
    top: -381px;
    left: -15%;
    z-index: -1;
    width: 670px;
    height: 641px;
    background-image: url("../img/triangles.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 35px 0;
  }

  @include above ($desktop-width-max) {
    img {
      max-width: 710px;
    }
  }

  @include below ($tablet-width) {
    margin-top: 0;

    img {
      width: 465px;
      height: 340px;
      max-width: 465px;
      left: -35%;
      top: 274px;
    }

    &::before {
      width: 520px;
      top: -120px;
      left: -164px;
    }
  }

  @include below ($mobile-width) {
    img {
      width: 300px;
      height: 220px;
      max-width: 300px;
      top: 265px;
      left: 3%;
    }

    &::before {
      top: -115px;
      left: 35%;
      width: 508px;
    }
  }
}
